.header {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.header--second {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 300px;
    border-bottom: rgb(226, 226, 226) solid 2px;
}

@media (max-width: 767px) {
    .header--second {
        grid-template-columns: 1fr;
    }
}

.header__title {
    margin: 0;
    padding: 20px;
}