.section__list {
    padding: 0px 40px 20px 40px;
    list-style: none;
}

.section__listItem {
    border-bottom: rgb(226, 226, 226) solid 2px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
}

.section__listButton {
    border: none;
    border-radius: 0;
    background-color: green;
    display: block;
    width: 35px;
    height: 35px;
    align-self: center;
}

.section__listButton--second {
    background-color: red;
}

.section__listParagraph {

}