.section {
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px -5px rgba(107, 107, 107, 1);
}

.section__header {
    border-bottom: rgb(226, 226, 226) solid 2px;
    margin: 0;
    padding: 20px;
}